@using MyTryHard.Models
@model LoginViewModel
@{
    ViewData["Title"] = "Connexion";
}

<section id="loginForm">
    <h2>@ViewData["Title"]</h2>
    <form asp-area="" asp-controller="Account" asp-action="login" asp-route-returnurl="ViewBag.ReturnUrl" method="post" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Email"></label>
            <div>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Password"></label>
            <div>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <div>
            <input type="submit" value="Connexion" class="btn btn-default" />
        </div>
        <p>
            <a asp-controller="Account" asp-action="Register">S'inscrire comme nouvel utilisateur</a>
        </p>
        @* Activer ceci une fois que la confirmation de votre compte est activée pour la fonctionnalité de réinitialisation du mot de passe
            <p>
                @Html.ActionLink("Vous avez oublié votre mot de passe ?", "ForgotPassword")
            </p>*@

    </form>
</section>
