@model RegisterViewModel
@{
    ViewBag.Title = "Inscription";
}

<section id="registerForm">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="account" asp-action="register" method="post" role="form">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="UserName"></label>
            <div>
                <input asp-for="UserName" />
            </div>
        </div>
        <div>
            <label asp-for="Email"></label>
            <div>
                <input asp-for="Email" />
            </div>
        </div>
        <div>
            <label asp-for="Password"></label>
            <div>
                <input type="password" asp-for="Password" />
            </div>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <div>
                <input type="password" asp-for="ConfirmPassword" />
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="S’inscrire" />
            </div>
        </div>
    </form>
</section>