@using MyTryHard.Helpers
<h3>Créer / Éditer un utilisateur</h3>
<form asp-controller="admin" asp-action="saveuser" method="post">
    @*<input type="hidden" asp-for=""*@
    <div>
        <label></label><br />
    </div>
</form>