@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <span class="element">
            <button type="submit" asp-controller="Account" asp-action="LogOff" class="lnk">Se déconnecter</button>
        </span>

        @if (User.IsInRole("Admin"))
        {
            <span class="element">
                <a asp-controller="Admin" asp-action="Index" class="lnk" title="Administration">Administration</a>
            </span>
        }

        <span class="element">
            <a asp-controller="Manage" asp-action="Index" class="lnk" title="Préférences">Préférences</a>
        </span>
    </form>
}
else
{
    <span class="element">
        <a asp-area="" asp-controller="Account" asp-action="Register" class="lnk" id="registerLink">S'inscrire</a>
    </span>
    <span class="element">
        <a asp-area="" asp-controller="Account" asp-action="Login" class="lnk" id="loginLink">Se connecter</a>
    </span>
}
