@model MyTryHard.ViewModels.CreateEditCategoryViewModel
@using MyTryHard.Helpers
<h3>Créer / Éditer une catégorie</h3>
<form asp-controller="admin" asp-action="savecategory" method="post">
    <input type="hidden" asp-for="Category.CategoryID" />
    <input type="hidden" asp-for="IsDefault" />
    <div>
        <label asp-for="Category.Title"></label>
        <br />
        @if (!Model.CanDelete && !Model.IsDefault)
        {
            <input asp-for="Category.Title" oninput="AdminUtils.fillSEOFieldEvent('Category_SEOUrl', 'Category_Title')" />
        }
        else
        {
            <input asp-for="Category.Title" />
        }

    </div>
    <div>
        <label asp-for="Category.SEOUrl"></label>
        <br />
        <input asp-for="Category.SEOUrl" />
    </div>
    @if (!Model.IsDefault)
    {
        <div>
            <label asp-for="Category.ParentCategoryID"></label>
            <br />
            @Html.DropDownListForCategories(Model.Categories, Model.Category != null ? Model.Category.ParentCategoryID : Guid.Empty)
        </div>
    }
    <div>
        <label asp-for="Category.Description"></label>
        <br />
        <input asp-for="Category.Description" />
    </div>
    @if (Model.CanDelete)
    {
        <div style="float:left;">
            <input type="checkbox" asp-for="IsToDelete" />
            <span style="color: red;">
                <label asp-for="IsToDelete"></label>
            </span>
        </div>
    }
    <div style="float:right;">
        <input type="submit" value="Enregistrer" />
    </div>
    <div style="clear:both;"></div>
</form>