@model MyTryHard.ViewModels.CreateEditArticleViewModel
@using MyTryHard.Helpers
<h3>Créer / Éditer un article</h3>
<form asp-controller="admin" asp-action="savearticle" method="post">
    <input type="hidden" asp-for="Article.ArticleId" />
    <div>
        <label asp-for="Article.Title"></label><br />
        @if (!Model.CanDelete)
        {
            <input asp-for="Article.Title" oninput="AdminUtils.fillSEOFieldEvent('Article_SEOUrl', 'Article_Title')" />
        }
        else
        {
            <input asp-for="Article.Title" />
        }
    </div>
    <div>
        <label asp-for="Article.SEOUrl"></label>
        <br />
        <input asp-for="Article.SEOUrl" />
    </div>
    <div>
        <label asp-for="Article.CategoryId"></label>
        <br />
        @Html.DropDownListForCategories("Article_CategoryId", "Article.CategoryId", Model.Categories, Model.Article != null ? Model.Article.CategoryId : Guid.Empty)
    </div>
    <div>
        <label asp-for="Article.Content"></label>
        <br />
        <textarea asp-for="Article.Content"></textarea>
    </div>
    <div>
        <input type="checkbox" for="Article.IsCommentAllowed" />
        <label asp-for="Article.IsCommentAllowed"></label>
    </div>
    <div>
        <input type="checkbox" asp-for="Article.IsOnline" />
        <label asp-for="Article.IsOnline"></label>
    </div>
    @if (Model.CanDelete)
    {
        <div style="float:left;">
            <input type="checkbox" asp-for="IsToDelete" />
            <span style="color: red;">
                <label asp-for="IsToDelete"></label>
            </span>
        </div>
    }
    <div style="float:right;">
        <input type="submit" value="Enregistrer" />
    </div>
    <div style="clear:both;"></div>
</form>