@{
    ViewData["Title"] = "Catégories";
}
<section class="admin-side">
    <h3>Options</h3>
    <a data-panel="PanelCreateCategory">Créer catégorie</a>
    <a data-panel="PanelListCategories">Lister catégories</a>
</section>
<section data-def-panel="PanelListCategories" class="admin-content" id="admin-container"></section>
