@model IndexViewModel
@{
    ViewBag.Title = "Préférences";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a asp-action="ChangePassword">Changer votre mot de passe</a>
                @*@Html.ActionLink("Changer votre mot de passe", "ChangePassword")*@
            }
            else
            {
                <a asp-action="SetPassword">Créer</a>
                @*@Html.ActionLink("Créer", "SetPassword")*@
            }
            ]
        </dd>
    </dl>
</div>
