@{
    ViewBag.Title = "À Propos";
}
<div id="about">
    <img class="profile-picture" src="~/images/about_avatar.jpg" alt="Avatar" />
    <div class="resume">
        <h2>MrTryHard</h2>
        <p>
            Étudiant au baccalauréat en informatique à l'<a class="lnk usherb righted" href="http://www.usherbrooke.ca/">Université de Sherbrooke</a><br><br>
            <a class="lnk github" href="https://github.com/mrtryhard">mrtryhard</a><br>
            @*<a class="lnk twitter" href="https://twitter.com/iammrtryhard">@@trialexcs</a><br>*@
            <a class="lnk linked-in" href="https://ca.linkedin.com/pub/alexandre-leblanc/82/980/532">LinkedIn</a>
        </p>
    </div>
    <div style="clear:both;"></div>
    <h4>Le blog</h4>
    <p style="text-align:justify;">
        Ce blog est d'abord et avant tout un terrain de jeu que j'ai mis au point pour apprendre d'avantage sur le développement web.
        Les sujets traités sont (et seront) relativement diversifiés. La majeure partie du temps, il s'agira de notes de développement de mes projets
        ou les découvertes qui sont liées de près ou de loin à mon travail, mes études et mes projets personnels.<br /><br />
        Il y aura également des articles sur ce qui m'anime, tel que les jeux vidéos, la culture japonaise  et autres bidules
        dont j'aurai envi d'écrire un (court?) article.
    </p>
    <h4>Vie professionnelle</h4>
    <p style="text-align:justify;">
        Je suis un programmeur passionné d'apprendre et qui adore relever des défis.
        J'aime me tenir informer sur les nouvelles technologies et les innovations du domaine.
        Je m'intéresse à beaucoup plus que seulement l'informatique: ses applications dans les divers
        domaine sont pour moi une source de motivation pour l'apprentissage. Que ce soit en médecine
        ou dans les communications, il est toujours intéressant ce qu'une équipe est capable
        d'accomplir.
        <br /><br />
        Un but que chaque développeur devrait se fixer est de devenir une ressource indispensable à son équipe.
        Ce but est le mien.
    </p>
    <h4>Hobbies</h4>
    <p style="text-align:justify;">
        J'aime jouer aux jeux vidéos. <br />
        tout particulièrement les jeux coopératifs en ligne (MMORPG, FPS) où la victoire dépend plutôt des objectifs et
        du travail d'équipe que du talent d'un seul individu.<br /><br />
        Vous me retrouverez dans ces jeux:<br />
        <ul>
            <li>Heroes of the Storm: Taotsuki</li>
            <li>The Secret World: Taotsuki</li>
            <li>Peria Chronicles Online (Pas encore sortie)</li>
        </ul>
        <hr />
        Je vous invite à consulter mon profil LinkedIn ou Github pour davantage d'informations sur mes connaissances
        techniques, sociales ou pour consulter mes projets (dont ce site web).<br /><br />
    </p>
</div>